@use "@/styles/_variables.scss" as vars;

.carCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid vars.$primary-color;
    border-radius: 5px;

 
    @media (max-width: 600px) {
      flex-direction: column;
      max-width: 100%;
    }
  }
  
  .imageWrapper {
    
    display: flex;
    padding: 16px;
    flex: 1 1 auto;
    min-width: 150px;
  
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  
  .carImage {
    border: 2px solid vars.$primary-color;
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  .infoWrapper {
    flex: 2 1 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .condition {
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
  }
  
  .details {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 8px;
  }
  
  .locationAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .location {
    font-weight: 500;
    color: #555;
  }
  
  .price {
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
  
  .submitButton {
    background-color: #2a75f7;
    color: #fff;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  
    &:hover {
      background-color: #1953b8;
    }
  }