@use "@/styles/_variables.scss" as vars;

.tableContainer {
  // gap: 15px;

  margin-top: 20px;
  display: flex;
  flex-direction: column;
  @media (max-width: vars.$mobile-width) {
    overflow-x: auto;
  }
}

.tableTitle {
  margin-bottom: 10px;
  font-size: 18px;
  @media (max-width: vars.$mobile-width) {
    font-size: 16px;
  }
}

.customsFeesTable {
  width: 100%;
  // Минимальная ширина таблицы, чтобы не сжималась слишком сильно
  min-width: 600px;
  border-collapse: collapse; 
  border: solid;

  thead {
    th {
      text-align: left;
      padding: 8px 12px;
      border: 1px solid rgb(0, 0, 0); 
      
      @media (max-width: vars.$mobile-width) {
        padding: 6px 8px;
        font-size: 14px;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid rgb(0, 0, 0); 
    }
  
    td {
      padding: 8px 12px;
      border: 1px solid rgb(0, 0, 0); 
      vertical-align: middle;
      
      @media (max-width: vars.$mobile-width) {
        padding: 6px 8px;
        font-size: 14px;
      }
    }
  }

  .tableFooter {
    background-color: #fff8e6;  
    font-weight: 600;         
  }
}