$primary-color: #1d3050;
$secondary-color: #ff5e00;
$highlight-color: #1d3050;
$text-color: white;

$container-width: 1200px;
$header-padding: 15px 0;

$font-main: "Tecla", sans-serif;
$font-size-base: 32px;
$font-size-paragraph: 16px;
$font-header-size-base: 54px;

$font-header-mobile-size: 32px;

$mobile-width: 600px;
$ipad-width: 900px;
$desktop-width: 1200px;