$primary-color: #fff;

$border-color: #ebebeb;

$ruler: 16px;
$input-focus: #2d8cf0;
$font-color: #323232;
$font-color-sub: #666;
$bg-color: #fff;
$main-color: #fff;
$third-color: #DC5F00;
$button-size: 20px;
$mobile-width: 1300px;


 