.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  background: #fff;
  width: 600px;
  max-width: 90%;
  border-radius: 6px;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  gap: 8px;
}

.carPreview {
  img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.carModalPreview {
  padding: 30px;
  img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
.infoContainer {
  display: flex;
  flex-direction: column;
  input{
    width: auto;
  }
}

.thanksContainer {
  display: flex;
  flex-direction: column;
  color: black;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.successContainer {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
