@use "@/styles/_variables" as vars;

.header {
  background-color: vars.$primary-color;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  max-width: vars.$container-width;
  margin: 0 auto;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

.desktopNav {
  display: flex;
  gap: 30px;
  align-items: center;

  a {
    position: relative;
    cursor: pointer;
    border: 2px solid white;
    overflow: hidden;
    transition: color 0.5s;
    z-index: 1;
    border-radius: 6px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    // transition: color 0.3s ease;

    &:hover {
      color: vars.$primary-color;
      &::before {
        top: -30px;
        left: -30px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-color: white;
      height: 100px;
      width: 300px;
      border-radius: 50%;
      top: 100%;
      left: 100%;
      transition: all 0.7s;
    }
  }
}

.hamburgerWrapper {
  display: none;
  position: relative;
}

.checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: calc(4px * 3 + 11px * 2);
  cursor: pointer;
  display: block;
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  opacity: 1;
  transition: transform 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5),
              top 0.35s, bottom 0.35s, opacity 0.35s;
}

.barTop {
  bottom: calc(50% + 11px + 2px);
}

.barMiddle {
  top: calc(50% - 2px);
}

.barBottom {
  top: calc(50% + 11px + 2px);
}

.mobileNav {
  display: none;
  flex-direction: column;
  background-color: vars.$primary-color;
  position: absolute;
  width: 20vw;
  top: 60px;
  right: 0;
  padding: 20px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3);

 
  a {
    position: relative;
    cursor: pointer;
    border: 2px solid white;
    overflow: hidden;
    transition: color 0.5s;
    z-index: 1;
    border-radius: 6px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: vars.$primary-color;
      &::before {
        right: -20px;
        top: -20px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-color: white;
      height: 300px;
      width: 500px;
      right: 100%;
      border-radius: 30%;
      top: 50%;

      transition: all 0.7s;
    }
  }
}

.checkbox:checked + .toggle .barTop {
  bottom: calc(45%);
  transform: rotate(45deg);
}

.checkbox:checked + .toggle .barMiddle {
  top: calc(50% + 11px);
  opacity: 0;
}

.checkbox:checked + .toggle .barBottom {
  top: calc(50% - 2px);
  transform: rotate(-45deg);
}

.checkbox:checked ~ .mobileNav {
  display: flex;
}

@media (max-width: vars.$ipad-width) {
  .desktopNav {
    display: none;
  }
  .hamburgerWrapper {
    display: block;
  }
}