@use "@/styles/_variables" as vars;

.header {
  background-color: vars.$primary-color;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  margin: 0 auto;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

.desktopNav {
  display: flex;
  gap: 30px;
  align-items: center;

  a {
    position: relative;
    cursor: pointer;
    border: 2px solid white;
    overflow: hidden;
    transition: color 0.5s;
    z-index: 1;
    border-radius: 6px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: vars.$primary-color;
      &::before {
        top: -30px;
        left: -30px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-color: white;
      height: 100px;
      width: 300px;
      border-radius: 50%;
      top: 100%;
      left: 100%;
      transition: all 0.7s;
    }
  }
}

@media (max-width: vars.$ipad-width) {
  .desktopNav {
    display: none;
  }
  .header{
    display: none;
  }
}