@use "@/styles/_variables" as vars;

.header {
  background-color: vars.$primary-color;
  padding: 15px 0;
}

.container {
  max-width: vars.$container-width;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: flex;
  align-items: center;

  img {
    height: 50px;
  }
}

.nav {
  display: flex;
  gap: clamp(10px, 50px, 100px);

  a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s ease-in-out;

    &:hover {
      color: vars.$secondary-color;
    }
  }
}

@media (max-width: vars.$mobile-width) {
  .nav {
    display: none;
  }
  .container{
    justify-content: center;
  }
}
