@use "@/styles/_variables" as vars;

.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px;
    max-width: 100%;
    white-space: nowrap;
    scrollbar-width: none;
    justify-content: flex-start;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  @media (max-width: vars.$desktop-width) {
    .slider {
      justify-content: center;
    }
  }