@use "@/styles/_variables" as vars;
@use 'sass:color';

.container {
  padding: 0 10%;
  margin-top: 50px;
  color: vars.$primary-color;
}



.translationsList {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .translationItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;

    .itemActions {
      display: flex;
      gap: 8px;
    }
  }
}

.formContainer {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;

  h3 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    color: vars.$primary-color;
  }

  .fieldGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    label {
      margin-bottom: 4px;
      font-weight: 500;
      color: vars.$primary-color;
    }

    input,
    select {
      padding: 10px;
      font-size: 16px;
      border: 2px solid vars.$primary-color;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
      border-color: color.adjust(vars.$primary-color,$lightness: 10%);

      }
    }
  }

  .formActions {
    display: flex;
    gap: 10px;

    button {
      flex: 1;
      padding: 10px 16px;
      font-size: 16px;
    }
  }
}
@media (max-width: vars.$mobile-width) {
  .container {
    padding: 0 5%;
  }
}

