@use "@/styles/_variables" as vars;

.hero {
  .container {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .body {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: vars.$ipad-width) {
      flex-direction: column;
      gap: 20px;
    }
  }

  .secondLine {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      text-wrap: nowrap;
    }

    @media (max-width: vars.$ipad-width) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .secondText {
    gap: 20px;
    max-width: 380px;
    padding-top: 20px;
  }

  .text {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: vars.$font-header-size-base;

      font-weight: bold;
      color: vars.$primary-color;
      text-transform: uppercase;
      line-height: 1;
      display: flex;
      flex-direction: column;
    }
    @media (max-width: vars.$ipad-width) {
      h1 {
        font-size: vars.$font-header-mobile-size;
      }
    }

    .label {
      display: inline-block;
      padding: 2px 30px;
      border: 2px solid vars.$primary-color;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      color: vars.$primary-color;
      white-space: nowrap;
      margin-left: 20px;
      white-space: nowrap;

      @media (max-width: vars.$ipad-width) {
        margin-left: 0px;
      }
    }

    p {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .contacts {
    div {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 18px;
      margin-top: 12px;

      svg {
        color: vars.$primary-color;
      }
    }
  }

  .image {
    position: relative;
    display: flex;
    max-width: 700px;
    margin-left: 40px;

    justify-content: center;
    align-items: flex-end;
    img {
      width: 100%;
      display: block;
      position: relative;
      z-index: 2;
    }

    &::before {
      bottom: -15px;
      right: 5px;
      content: "";
      position: absolute;
      width: 110%;
      height: 130px;
      background: #1d3050;
      border-radius: 50%;
      z-index: 1;
    }
  }
}
