@use "@/styles/_variables" as vars;

.home{
    padding: 0 10%;
    color: vars.$primary-color !important;
    display: flex;
    flex-direction: column;

    gap: 50px;
}

@media (max-width: vars.$mobile-width) {
    
    .home{
        padding: 0 5%;
    }
}